node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.github
.turbo
.git
.gitignore
.prettierrc
.prettierignore
.vscode
.medusa
README.md
.env.test
.nyc_output
coverage
.DS_Store
*.log
docker
dist
build
node_modules